#header
  %h1
    %a{ :href => "/" }
      = @heading
      %small= @subtitle
  %a{ :href => "http://recruitmilitary.com", :class => "rm" }
    = "RecruitMilitary"
  .clearfix

#breadcrumb
  %a{ :href => "/" } Home
  &#9656;
  - if @page.parent
    %a{ :href => @page.parent.abspath }= @page.parent.heading
    &#9656;
  = @page.heading

#content
  .meta
    - if @page.date
      .date= format_date(@page.date)
    - if @page.author
      .byline
        By
        = @page.author
    .clearfix
  
  ~ @page.to_html
  
  - @page.pages.each do |page|
    = haml :summary, :layout => false, :locals => { :article => page, :heading => :h3 }

  - @page.articles.each do |article|
    = haml :summary, :layout => false, :locals => { :article => article, :heading => :h3 }

  - unless @page.categories.empty?
    .categories
      Filed under
      - @page.categories.each do |category|
        %a{ :href => category.abspath }= category.heading

#sidebar
  = haml :sidenav, :layout => false
  = haml :feed, :layout => false
